body{
        background-color: #FAFAFA;
        font-family: 'Syne', sans-serif;

}



/* start navbar */
.navbar{
    overflow: hidden;
    font-weight: bold;
font-family: 'Nunito Sans';
position: fixed;
top:0;
background-color: #FAFAFA;
z-index: 9999;
width: 100%; 
    }
.navbar .container{
    width: 60%;
    margin: auto;
}
.navbar h1{
   float: left;
    display: inline;
    font-size: 38px;
    margin-top: 0px;
    margin-bottom:0px;
    color: #FF8C00		;
     letter-spacing: 1.5px;
    font-weight: bold;

}
.navbar h1 spam{
   font-size: 50px; 
}
.navbar ul{
    list-style: none ;
    padding-left: 0;
    overflow: hidden;
    float: right;
font-family: 'Nunito Sans'}
.navbar ul li {
    float: left;
    padding:12px;
        text-transform: uppercase;
    font-size: 10.2px;

}
.navbar ul li a { 
    color:dimgray;
text-decoration: none;
}
.navbar ul li a:hover { 
    color: #FB7C07; 
}
.navbar ul li.active a { 
    color: #FB7C07; 
}
/* end navbar */

/* start banner */
.container{
    width: 60%;
    margin:auto;
}
.banner{
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 400px;
font-family:  cursive;
    font-size: 15px;
    font-weight: bold;
position: relative;}

.banner .inform{
    float:left;
    padding-left: 60px;
    color: dimgray;
position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    margin: auto;       
}
.banner .inform h1{
        color: #FB7C07		;

}


.banner .inform .btn{
       color: #FFF;
    background-color: #FB7C07; 
      padding:0.6em 2em;
  border-radius: 50px;
  font-size:1em;
  border:0;
  cursor:pointer;
    font-weight: bold;

}
.banner .photo{
   float: right;
    width:40%;
}
.banner .photo img{
    width: 90%;
    height:500px;
padding-right: 30px;}

/* end banner */

/* end about me */
.about{
    height: 550px;
    background-color:#F0F0F0;
    font-family: 'Syne', sans-serif;
line-height: 1.5;
    padding-top: 20px;

}
.about .container{
    width: 60%;
    margin:auto;
}

.about h2{
    text-align: center;
    color:dimgray;
    font-weight: bold;
    font-family: 'Nunito Sans';
font-size: 30px;
    background-color:#F0F0F0;
    padding-top:50px;
margin-bottom: 0px;
}

.about .line {
	border-top: 2px solid #FB7C07;
	margin:  auto;
    	width: 14%;
	position: relative;
}

.about .line:before, .line:after {
	content: "";
	width: 5px;
	height: 5px;
	background: #F0F0F0;
	border-radius: 5px;
    border-color: dimgray;
	position: absolute;
	top: -6px;
    border:2px solid dimgray;
}

.about .line:after {
	right: 0;
}
.about .linee {
	border-top: 2px solid dimgray;
	margin:  auto;
    	width: 9%;
	position: relative;
    margin-top: 3px;
    margin-bottom: 50px;
}

.about .pic {
   width:33%;
    float: left;
}
.about .pic img {
    width:90%;
    height: 300px;
    border-bottom: 7px solid #FB7C07;
    border-left: 7px solid #FB7C07;
    padding-left: 7px;
    padding-bottom:7px;
}

.about .info{
    padding-top:0;
    width:58%;
    float: right;
    color:dimgray;
    font-size: 13px;
}
.about .info spam{
        font-size: 18px;

}

.about .info table {
}

.about .info td {
     width:160px; 
                padding:2px 
}
.about .info .btn{
       color: #FFF;
    background-color: #FB7C07; 
      padding:0.6em 2em;
  border-radius: 50px;
  font-size:14px;
  border:0;
  cursor:pointer;
    font-weight: bold;
    margin-right: 20px;

}
.about .info .btnn{
       color: dimgray;
    background-color: #F0F0F0; 
      padding:0.5em 1.5em;
  border-radius: 50px;
  font-size:14px;
      border-style: solid;
border-color: dimgray;
  cursor:pointer;
    font-weight: bold;
    

}
/* end about me */

/* start service*/
.service{
    height: 550px;
    font-family: 'Syne', sans-serif;
line-height: 1.5;
    padding-bottom: 40px;
        padding-top: 20px;


}

.service .container{
    width: 60%;
    margin:auto;
}

.service h2{
    text-align: center;
    color:dimgray;
    font-weight: bold;
    font-family: 'Nunito Sans';
font-size: 30px;
        padding-top:50px;

margin-bottom: 0px;
}

.service .line {
	border-top: 2px solid #FB7C07;
	margin:  auto;
    	width: 14%;
	position: relative;
}

.service .line:before, .line:after {
	content: "";
	width: 5px;
	height: 5px;
	background: #F0F0F0;
	border-radius: 5px;
    border-color: dimgray;
	position: absolute;
	top: -6px;
    border:2px solid dimgray;
}

.service .line:after {
	right: 0;
}
.service .linee {
	border-top: 2px solid dimgray;
	margin:  auto;
    	width: 9%;
	position: relative;
    margin-top: 3px;
    margin-bottom: 50px;
}

.service .ser {
    width:31%;
    margin:7px;
    background-color: #F0F0F0 ;
    height: 170px;
    overflow: hidden;
    display: inline-block;
    border: 1px ;
    border-color :#cfcccc;
      text-align: center;
    color:dimgray;
    position:relative; 


}
.service .ser:hover{
  box-shadow: 0px 7px 11px rgba(33,33,33,.2); 
}
.service .ser .content{
    position:absolute;
    top:50%; 
    margin-top:-25%;
}
.service .ser .fa {
    color: #FB7C07;
    background: #FAFAFA;
    border-radius: 50%;
  padding: 15px;
}


.service .ser .fa-desktop {
    
    color: #FAFAFA;
    background: #FB7C07;
   }
.service .ser p{
    font-size: 12px;
    color:dimgray;
    margin: 5px;

}
.service .ser p spam{
    font-size: 10px;
}
/*end service */

/* start numbers */

.numbers{
    height: 250px;
    background-color:#F0F0F0;
    font-family: 'Syne', sans-serif;
line-height: 1.5;

}
.numbers .container{
    width: 60%;
    margin:auto;
}

.numbers .content{
 
    
}

.numbers .sec{
    display: inline-block;
    width: 24%;
    text-align: center;
padding-top:60px;;    
    
}
.numbers .sec .fa{
    color: white;
    background-color: #A0A0A0;
    border-radius: 50%;
    padding: 15px;
}
.numbers h1{
    color: #FB7C07;
    margin: 0px;
}
.numbers h4{
    color:#A0A0A0;
    font-weight: normal;
    margin-top: 0px;
}

/* end numbers */

/* start skills */

.skills{
    height: 550px;
    font-family: 'Syne', sans-serif;
line-height: 1.5;
    padding-bottom: 40px;

}

.skills .container{
    width: 60%;
    margin:auto;
}

.skills h2{
    text-align: center;
    color:dimgray;
    font-weight: bold;
    font-family: 'Nunito Sans';
font-size: 30px;
        padding-top:50px;

margin-bottom: 0px;
}

.skills .line {
	border-top: 2px solid #FB7C07;
	margin:  auto;
    	width: 14%;
	position: relative;
}

.skills .line:before, .line:after {
	content: "";
	width: 5px;
	height: 5px;
	background: #F0F0F0;
	border-radius: 5px;
    border-color: dimgray;
	position: absolute;
	top: -6px;
    border:2px solid dimgray;
}

.skills .line:after {
	right: 0;
}
.skills .linee {
	border-top: 2px solid dimgray;
	margin:  auto;
    	width: 9%;
	position: relative;
    margin-top: 3px;
    margin-bottom: 50px;
}



/* end skills */